body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header + Hero section */

.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    /* padding-left: 100px;
    padding-right: 100px; */
    padding-left: max(48px, 15%);
    padding-right: max(48px, 15%);
    padding-bottom: 48px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 50px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
    gap: 24px;
}

.hero-content {
    max-width: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
}

.content-para {
    font-size: 18px;
    color: #E5E7EB;
}

button.sign-up {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    max-width: 100px;
    color: inherit;
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.hero-img {
    flex: 1;
    max-width: 700px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

/* Information section */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-left: max(48px, 20%);
    padding-right: max(48px, 20%);
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-content {
    display: flex;
    gap: 36px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 400px;
}

.subtext {
    text-align: center;
    font-size: 18px;
    color: #585c61;
}